<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guys_from_301.stock_game">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/splashimg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name="com.guys_from_301.stock_game.MarketActivity"></activity>
        <activity android:name="com.guys_from_301.stock_game.GameSettingActivity" />
        <activity android:name="com.guys_from_301.stock_game.WelcomeActivity" />
        <activity android:name="com.guys_from_301.stock_game.GameHistoryActivity" />
        <activity android:name="com.guys_from_301.stock_game.AccountManagementActivity" /> <!-- android:name 설정 -->
        <!-- Splash Activity -->
        <activity
            android:name="com.guys_from_301.stock_game.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Splash Activity -->
        <!-- <activity android:name=".LoadnAutoauthonizeActivity"></activity> -->
        <!-- // kakao -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity android:name="com.guys_from_301.stock_game.InitialActivity" />
        <activity android:name="com.guys_from_301.stock_game.ResultNormalActivity" />
        <activity android:name="com.guys_from_301.stock_game.GameNormalActivity" />
        <activity android:name="com.guys_from_301.stock_game.SettingActivity" />
        <activity android:name="com.guys_from_301.stock_game.ProfileActivity" />
        <activity android:name="com.guys_from_301.stock_game.MainActivity" /> <!-- kakao (2020-1-29) -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao0c9ac0ead6e3f965c35fa7c9d0973b7f" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
<!--        ca-app-pub-3940256099942544/6300978111 -->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>