<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guys_from_301.stock_game">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- queries에 카카오톡 패키지 추가 -->
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 푸시알림 진동 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- 푸시알림 잠금화면일때도 작동 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> <!-- 재부팅 후에도 푸시알림 작동 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/app_logo_512_512"
        android:label="타디스"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProfileSetActivity"></activity>
        <activity android:name=".PurchaseHistoryAcitivity" />
        <activity android:name=".SupportActivity" />
        <activity android:name=".NoticeDetailActivity" />
        <activity android:name=".TipDetailActivity" />
        <activity android:name=".TipMainActivity" />
        <activity android:name=".NewHistoryActivity" />
        <activity android:name=".NoticeActivity" />
        <activity
            android:name=".NewResultNormalActivity"
            android:noHistory="true" />
        <activity
            android:name=".InitialSignUpEntranceActivity"
            android:noHistory="true" />
        <activity android:name=".NewInitialActivity" />
        <activity android:name=".InitialLoginActivity" />
        <activity android:name=".NewMainActivity" />
        <activity android:name=".QuestActivity" />
        <activity android:name=".InitialSetIdActivity" />
        <activity android:name=".InitialSetPwActivity" />
        <activity
            android:name=".InitialSignupFinalActivity"
            android:noHistory="true" />
        <activity android:name=".HistoryActivity" />
        <activity
            android:name=".PickGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountManagementActivity"
            android:screenOrientation="portrait" /> <!-- android:name 설정 -->
        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Splash Activity -->
        <!-- <activity android:name=".LoadnAutoauthonizeActivity"></activity> -->
        <!-- // kakao -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".GameNormalActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- "kakao{YOUR_NATIVE_APP_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data
                    android:host="kakaolink"
                    android:scheme="@string/kakao_app_key" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendActivity"
            android:screenOrientation="portrait" /> <!-- kakao (2020-1-29) -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_app_key" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
<!--        ca-app-pub-3940256099942544~3347511713-->
        <!-- ca-app-pub-3940256099942544/6300978111 -->
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <receiver android:name=".AlarmReceiver"
            android:exported="false"/>

        <receiver android:name=".AlarmBootReceiver"
            android:enabled="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>